div.moduleCard {
  width: 250px;
}
p {
  display: flex;
  justify-content: center;
}
p.moduleName {
  padding: 5px;
  background-color: rgb(190, 190, 236);
}
p.moduleDay {
}
p.moduleLocation {
  display: flex;
  align-items: end;
}
