.MentorWorkshop {
  text-justify: center;
  text-align: center;
  border: 5px grey solid;
  background-color: lightgrey;
  border-radius: 25px;
  .WorkshopHeader {
    background-color: darkgrey;
    border-radius: 20px 20px 0px 0px;
  }
}
@media only screen and (width > 500px) {
  //desktop
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -ms-flex-align: center;
    padding: 10px 10px;
  }
}
